// Variables
$color-primary: #4682A9;
$color-secondary: #91C8E4;

$color-text: #4e4e4e;
$color-text-secondary: #000;

$color-bg: #F6F4EB;


.App {
  width: 90%;
  height: 100%;
  margin: 0 auto;

  max-width: 1200px;

  background-color: $color-bg;
  color: $color-text;

  box-shadow: 0px 0px 4px 0px rgba(31, 31, 31, 0.05);
}

.btn-primary {
  background-color: $color-primary;
  color: #fff;

  border: none;
  border-radius: 8px;

  font-size: 18px;
  font-weight: 600;

  cursor: pointer;

  &:hover {
    background-color: $color-secondary;
    color: $color-text;
  }
}

.mid-div{
  width: 100%;
  height: 100%;

  margin: 50px 0;
}
